[2020-10-09 12:41] kdy1 opened #11 "Handle strict mode"
Generated .d.ts file differs if strict mode is enabled.

[2020-10-09 13:18] kdy1 opened #10 "Provide prebuilt binaries"
See: https://github.com/denoland/rusty_v8/releases

[2020-10-11 14:23] kdy1 opened #9 "License agreement, just like android"

[2020-11-12 15:49] kdy1 opened #8 "Use Type::Intersection instead of Vec<Type>"
We currently store types as vector, but we should store types as intersection.

[2020-12-03 09:15] kdy1 opened #7 "Language server"
# Features
 - Autocompletion in

   - [ ] Class name
      - [ ] from file name.

   - [ ] Super class
   - [ ] Types

It can be inferred from usages. (including methods, as stc is fast)

  - [ ] Generate function when a function is not defined.
  - [ ] Generate method when a method is not defined.
  - [ ] `import boss`: Block `@material-ui/core` from being imported.
 - [ ] auto-recompile for kind

[2020-12-04 16:17] kdy1 opened #6 "Data flow diagram"

[2020-12-07 12:34] kdy1 opened #5 "perf: Reduce size of `Type`"

[2020-12-10 16:13] kdy1 opened #4 "perf: Reduce clone"

[2020-12-10 16:14] kdy1 opened #3 "feature: Checked mode"

[2020-12-28 14:14] kdy1 opened #2 "Regression of binary size"
Size regressed from 8MB to 12MB due to dudykr/stc-archive#31.
This is because of `Visit` being shared between types and ast nodes.

This can be fixed by macros like `noop_{visit, visit_mut, fold}_{ast, type}`.
As this is not critical for development, I merged the pr

[2020-12-29 01:59] kdy1 opened #1 "Split env and storage"
It will allow preprocessing builtin types

[2021-01-02 16:30] kdy1 opened #14 "Move crates to root directory"
I'll do this after #13.

[2021-01-03 02:36] #1 closed, assigned to nobody

[2021-01-03 03:39] kdy1 opened #16 "Split env"
I made a mistake while working on https://github.com/dudykr/stc/pull/15. I forgot splitting env.

[2021-01-03 10:39] #14 closed, assigned to nobody

[2021-01-03 11:08] kdy1 opened #19 "macro: Dummy debug"
We need a debug impl which is replaced with dummy impl on release build.

[2021-01-21 12:15] kdy1 opened #21 "perf: Handle type arguments smartly"
Currently, we need to instantiate the full interface to infer the type of parameter.
This is too inefficient, and it can be done by

 - Attach id to type parameters and store type parameter information in the `Scope`.

 - Store type arguments in types like `Interface`, `Class`, ..etc

The first option seems better.

[2021-01-28 13:16] #21 closed, assigned to nobody

[2021-01-29 16:12] #5 closed, assigned to nobody

[2021-02-08 05:23] kdy1 opened #25 "Store type flags in `Type` instead of span."
Span is too implicit and it causes some bugs.

# Required metadata

All metadata will be implemented as a field `metadata` and all metadata structs must always return true for `TypeEq` and `EqIgnoreSpan`.

`Type::Keyword`:
 - Implicit.

`Type::TypeLit`:
  - `is_exact`: Used for assignemnts. If `is_exact` is false, unhandled rhs will be ignored.

[2021-02-18 14:37] kdy1 opened #32 "perf: Remove box from types and errors"

[2021-02-18 14:59] kdy1 opened #33 "Split file analyzer"
Compile time is delaying development.

# Crates

## traits

 - Defines `ExpandRef`
 - Defines `Assign`
 - Defines `InferType`

## assignments

 - Depends on `traits`.

Handles assignments

## generics

Handles type inference.

[2021-02-18 16:09] #25 closed, assigned to nobody

[2021-02-19 13:07] #32 closed, assigned to nobody

[2021-02-21 16:13] kdy1 opened #36 "Metadata system"
All types should have the same struct.
This is required to preserve current semantics.

And it should have fields for each type.

[code]

[2021-02-24 06:01] kdy1 opened #37 "Handle static properties properly"
We should remove `ClassInstance` and add `ClassDef` type.
`ClassDef` is used for accessing static properties and `Class` is used for accessing non-static properties.

[2021-02-27 09:50] #37 closed, assigned to nobody

[2021-03-08 10:47] #11 closed, assigned to nobody

[2021-03-08 10:47] #6 closed, assigned to nobody

[2021-04-28 06:05] kdy1 opened #47 "Change order of arguments to be consistent"
`assign`: `(span: Span, l: &Type, r: &Type, opts: AssignOpts)`

[2021-05-22 11:29] kdy1 opened #50 "Improve TypeFacts"
Currently there's no clear way to distinguish `typeof a === 'string' || typeof a === ' number'` and `typeof a === 'string' && typeof a === ' number'`

[2021-05-23 07:50] #50 closed, assigned to nobody

[2021-06-22 02:30] kdy1 opened #54 "Class Id"
`derivedClassTransitivity.ts`:

[code]

---

We need logic to compare private properties.

We should store the id of declaring class in properties, because properties from multiple class can be mixed.

[2021-06-23 05:15] #54 closed, assigned to nobody

[2021-06-26 05:01] kdy1 opened #58 "Improve performance"
- [ ] `infer_type`: Fast path for `Type::Mapped` with `Type::Array`.
 - [ ] `normalize`: Partial expansion.
 - [ ] `fix`: Make it shallow.
 - [ ] `fix`: Reduce call.
 - [ ] `normalize`: Cache(?).

## expr/call_new.rs

 - [ ] Skip reevaluation if there's no argument requires reevaluation.

## loops.rs

 - [ ] Use result from first run if no type fact is generated.

[2021-06-27 07:08] #4 closed, assigned to nobody

[2021-07-01 09:53] kdy1 opened #62 "perf: AType"
[code]

`AType.normalize()` returns type and `Arc<Type>` is used while cloning.

[2021-07-02 06:13] kdy1 opened #63 "Correct hanlding of recursive type parameters"
Currently, type parameters are incorrectly stored, but when I tried storing them recursively, it resulted in a stack overflow.

https://github.com/swc-project/stc/blob/76e1a7d0c48ea2c9e78e97fba4f32187d31cd625/typescript/file_analyzer/src/analyzer/convert/mod.rs#L120-L131

I tried preventing stack overflow, but the 'validity' of type can't be ignored. Especially, `Fixer` cannot give up fixing types

[2021-08-25 05:34] kdy1 opened #70 "Caching"
Module graph should return `RModule` along with `Arc<SourceMap>`, `Arc<SourceFile>`.
It will allow using types from cache without degrading span.

[2021-09-06 14:33] #36 closed, assigned to nobody

[2021-09-21 13:23] kdy1 opened #82 "CowArc<T>"
CowArcVec<T> would be useful

BoxedCowArc<T> is boxed variant

type TypePtr = BoxedCowArc<T>

[2021-09-22 15:22] #82 closed, assigned to nobody

[2021-11-17 13:02] kdy1 opened #98 "Make it work for `express`"
stc_ts_file_analyzer:
 - [ ] `find_imported_var`: Support namespace imports.

stc_ts_type_checker:
 - [ ] Process all typings before processing user-specified files. This is required to handle modules created using `declare module 'http'` or `declare namespace NodeJs`.

[2022-10-19 12:17] kdy1 opened #108 "Relicense at some day"
I think AGPL 3.0 will not work for many vendors, but I don't want to change the license at now.

(Actually, I rebased the whole repo to add the AGPL License file to the first commit)

[2022-10-19 12:40] #3 closed, assigned to nobody

[2022-10-19 12:41] #16 closed, assigned to nobody

[2022-10-19 12:41] #19 closed, assigned to nobody

[2022-10-21 11:21] kdy1 opened #113 "Return type from `declare_var`"
We are validating assign expressions twice, and this is super annoying

[2022-10-22 02:43] kdy1 opened #114 "Tests stats are flaky"
This causes problems for `check.sh`.

We should make it deterministic.

[2022-10-25 09:24] kdy1 opened #121 "Cleanup + Refactor"
- ValidationResult => VResult
 - `derive(Is)` of Type should be replaced with a smarter implementation, which is aware of normalization.
 - `Type#normalize` should be renamed

[2022-10-25 09:56] kdy1 opened #122 "Make `freeze()` shallow"

[2022-10-27 02:51] #121 closed, assigned to nobody

[2022-10-27 02:52] #108 closed, assigned to nobody

[2022-10-28 04:51] kdy1 commented on #9
This is not required anymore

[2022-10-28 04:51] #9 closed

[2022-10-29 00:44] #47 closed

[2022-10-29 05:57] kdy1 opened #136 "Handle variance correctly"
There's some logic to assign parameters in a reverse direction, but I'm not sure when it's applied.

https://github.com/dudykr/stc/blob/d62bfa21710f84c89f0d3c0550677b29f8114fc3/crates/stc_ts_file_analyzer/src/analyzer/assign/function.rs#L743-L765

I think the current logic is wrong, but not sure as I don't know enough about variance.
To be exact, I understood variance itself, but I'm not sure whic

[2022-10-29 06:07] kdy1 opened #138 "Update swc"
I tried it, but for some unknown reasons there were regressions in performance and passing test list.

The branch is at https://github.com/kdy1/stc/tree/swc-update, and I'm planning to retry it in the future

[2022-10-29 08:10] #136 closed

[2022-10-29 21:41] cdaringe commented on #10
references:

- binary release uploads for rusty_v8 specified here: https://github.com/denoland/rusty_v8/blob/7091248630744e3e89da51f1c10f4a83b385d324/.github/workflows/ci.yml#L185-L195

[2022-10-30 04:10] hyp3rflow opened #144 "ts/checker: tsc test keeps failing with compiling `testing_macros` error"
After updating `testing_macros` upto ^0.2.0, this error will be resolved.
Currently we are using v0.1.2 instead which seems to be failed to compile.

[code]

[2022-10-30 04:13] kdy1 commented on #144
This is an issue of`procmacro2_semver_exempt`.
But does a normal `cargo test` fail with it?
I've been using cargo test without a compilation failure

[2022-10-30 04:20] hyp3rflow commented on #144
@kdy1 Yes. I've gotten same error with normal `cargo test` in `stc_ts_type_checker`.

[2022-10-30 04:25] kdy1 commented on #144
https://github.com/dudykr/stc/pull/145 should fix it

[2022-10-30 04:26] hyp3rflow commented on #144
@kdy1 thank you for the quick fix :)

[2022-10-30 04:37] #144 closed

[2022-10-30 13:56] Prettysophia22 commented on #138
I don’t understand

[2022-10-30 13:56] kdy1 commented on #138
?

[2022-10-30 13:57] Prettysophia22 commented on #138
On Sun, Oct 30, 2022 at 2:57 PM kdy1 ***@***.***> wrote:

Hi

[2022-10-30 13:57] Prettysophia22 commented on #138
How are you doing

[2022-10-30 13:58] kdy1 commented on #138
What are you talking about

[2022-10-30 13:59] Prettysophia22 commented on #138
On Sun, Oct 30, 2022 at 2:58 PM kdy1 ***@***.***> wrote:

Where are you chatting from

[2022-10-31 08:27] markusbkk opened #156 "Usage"
Just wondering how to use `stc`, at its current state.
Do I need to consume it as a library or run it through a test shim?

I cloned the repository, updated the dependencies through `yarn` and compiled the project with `rustc build`.
Alas, the resulting `stc` binary only contains two subcommands (**help** and **iterate**) and simply providing a TypeScript source file simply returns a `Found argume

[2022-10-31 08:31] kdy1 commented on #156
It's under active development

[2022-10-31 08:31] #156 closed

[2022-10-31 09:56] kdy1 commented on #10
This is not required anymore

[2022-10-31 09:56] #10 closed

[2022-10-31 10:07] #114 closed, assigned to nobody

[2022-11-01 10:10] bcheidemann commented on #156
@markusbkk depends what you mean by 'use'. It's trivial to implement a new command (e.g. `stc check <file-path>`). You will need to update https://github.com/dudykr/stc/blob/main/src/main.rs and https://github.com/dudykr/stc/blob/main/src/check.rs. But as @kdy1 says, it's under active development so there is currently no way to use it like you would `tsc`.

[2022-11-01 15:28] markusbkk commented on #156
Understood

I wasn't aware that it was still very much pre-alpha

[2022-11-03 09:19] kdy1 opened #172 "Handle assignment of tuples with rest"
I postponed it from https://github.com/dudykr/stc/pull/170 because I have another item to work on

Basically,
[code]

should work.

It can be done by fixing code at https://github.com/dudykr/stc/blob/9efde34c022210e33df519c6f324bb62ad521abc/crates/stc_ts_file_analyzer/src/analyzer/assign/mod.rs#L2000-L2011 to handle an element with rest type specially.

[2022-11-03 09:56] kdy1 opened #174 "Handle enums while reducing intersections"
https://github.com/dudykr/stc/blob/2c2c8224273ffbca0aba723b34fd560b6b4a3c45/crates/stc_ts_file_analyzer/tests/pass/types/intersection/intersectionReduction/.4.ts#L3-L10

https://github.com/dudykr/stc/blob/2c2c8224273ffbca0aba723b34fd560b6b4a3c45/crates/stc_ts_file_analyzer/tests/pass/types/intersection/intersectionReduction/.5.ts#L3-L10

In the files above, the assignment should succeed because `T

[2022-11-03 10:08] kdy1 opened #175 "Append `undefined` to type list on optional member access"
https://github.com/dudykr/stc/blob/e69d14c1b30473f73bc8873400e950d44a047e64/crates/stc_ts_file_analyzer/tests/pass/exprs/optionalChaining/.access-6.ts#L2-L3

The type of `o6<number>()?.["x"];` above should be `number | undefined`, but currently it's `number`.

Relevant code for optional chaining is  https://github.com/dudykr/stc/blob/e69d14c1b30473f73bc8873400e950d44a047e64/crates/stc_ts_file_anal

[2022-11-03 10:17] kdy1 opened #176 "Use `Iterable` instead of `Iterator` for generator functions"
https://github.com/dudykr/stc/blob/e69d14c1b30473f73bc8873400e950d44a047e64/crates/stc_ts_file_analyzer/tests/tsc/types/builtin/generator/bad/.1.ts#L1-L2

This should fail because a generator function uses the item from `Iterable` as yield type.
i.e., `g3` is inferred to emit a string as an item, and the inferred generator (`Generator<number, any, undefined>`) is assigned to `BadGenerator`.

It sh

[2022-11-03 11:19] nissy-dev commented on #175
Hi 👋🏻 I'd like to work on this one as my first contribution! Can I take this issue?

[2022-11-03 11:20] kdy1 commented on #175
Of course, and thank you!

[2022-11-03 11:40] Camc314 commented on #172
@kdy1 I'll give this a shot

[2022-11-03 12:08] kdy1 commented on #176
Cool, thanks!

[2022-11-03 12:09] kdy1 commented on #172
Thanks!

[2022-11-03 12:21] kdy1 opened #178 "Change error code for missing `new` for classes"
https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_type_checker/tests/conformance/expressions/functionCalls/forgottenNew.ts#L1-L5

The code above should fail with `TS2348`, but currently it failes with `TS2349`

<img width="821" alt="image" src="https://user-images.githubusercontent.com/29931815/199718373-e5092a8f-dbfa-4a45-84fa-d3a1a869b876.png">

It has the

[2022-11-03 12:25] kdy1 opened #179 "Change error code for using `module` as LHS"
https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_type_checker/tests/conformance/expressions/valuesAndReferences/assignments.ts#L10-L11

This line should fail with `TS2708`, but it fails with `TS2539`.

<img width="821" alt="image" src="https://user-images.githubusercontent.com/29931815/199719615-418756b9-a068-493f-bdb5-ae8e15eac08a.png">

The problematic co

[2022-11-03 12:57] kdy1 opened #181 "Allow assignment of tuples with different length if it's `undefined` or `any`"
https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_type_checker/tests/conformance/es6/destructuring/destructuringArrayBindingPatternAndAssignment3.ts#L9-L10

This line should not report an argumentnt error because fields are optional.

<img width="821" alt="image" src="https://user-images.githubusercontent.com/29931815/199725700-b951ae74-a89b-4d3c-bbf6-17828a

[2022-11-03 13:05] kdy1 opened #182 "Don't report an error on array pattern elements with a default value"
https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_type_checker/tests/conformance/es6/destructuring/destructuringArrayBindingPatternAndAssignment3.ts#L1

This should not error, but currently, stc emits `TupleIndexError`

<img width="733" alt="image" src="https://user-images.githubusercontent.com/29931815/199727757-5a11bba3-6131-40d3-8db2-844683b76057.png">

-

[2022-11-03 14:37] hyp3rflow commented on #179
@kdy1 Hi! I'm trying to work on this, I found that the error list provided in stc conformance test is different from typescript's one. Is it okay to be different? Thanks!
[assignments.errors.txt in TypeScript repo](https://github.com/microsoft/TypeScript/blob/main/tests/baselines/reference/assignments.errors.txt)
[assignments.errors.json in stc repo](https://github.com/dudykr/stc/blob/main/crates/

[2022-11-03 14:44] hyp3rflow commented on #179
Oh I found that the conformance test case in stc was outdated. I'll patch it together :)

[2022-11-03 14:45] kdy1 commented on #179
~We should update tests, but for ~

Can you split the PR for updating tests?

[2022-11-03 14:55] hyp3rflow commented on #179
@kdy1 okay. first of all, is there any script for updating errors.json file for conformance test? If not, I'll update it manually (there are 7-8 test cases need to be updated)

[2022-11-03 15:04] kdy1 commented on #179
Yes, exactly

[2022-11-03 15:33] kdy1 commented on #182
Everything required for fixing this is on the issue body.

Example code of error recover is

https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_file_analyzer/src/analyzer/control_flow.rs#L1203-L1215

[2022-11-03 15:49] kaf-lamed-beyt commented on #182
Great! Thanks for mentioning it, again.

[2022-11-03 15:53] mrkldshv commented on #178
Hey! I'd like to work on this issue.

[2022-11-03 15:54] kdy1 commented on #178
Thanks!

[2022-11-03 16:12] kaf-lamed-beyt commented on #182
I understand that the error log is due to this function here 👇🏼

https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_file_analyzer/src/analyzer/scope/vars.rs#L250-L263

So now, my question is; what am I to do? I know the goal is to allow the restructuring assignment to pass the test. But, do I just go ahead and change the error message? What exactly do I need

[2022-11-03 16:40] kdy1 commented on #182
You should remove `?` and match on the result instead

[2022-11-03 16:41] Beraliv commented on #181
Hey @kdy1 !

Can I take this one? I'd like to work on it

[2022-11-03 16:44] kdy1 commented on #181
Of course, thank you!

[2022-11-03 17:12] mrkldshv commented on #178
Just to be sure: to accomplish this we need to create new error type in `crates/stc_ts_errors/src/lib.rs`, map it to correct code (`TS2348`), and then change the error in `crates/stc_ts_file_analyzer/src/analyzer/expr/call_new.rs`. Is that correct?

[2022-11-03 17:12] kaf-lamed-beyt commented on #182
Thanks!

I'm having some set of blockers BTW. When I type `./scripts/check.sh` in my terminal, I'm presented with the error below

![Screenshot from 2022-11-03 18-05-21](https://user-images.githubusercontent.com/48127194/199788909-7dcd2922-283b-467a-af62-9657169bcf98.png)

...and when I try to add my commit message. Some pre-commit hooks were fired. Here's the error I'm getting 👇🏼

![Screenshot fr

[2022-11-03 17:13] kdy1 commented on #178
Yeap, exactly

[2022-11-03 17:15] mrkldshv commented on #178
Great, thanks for confirming! Is there any convention for errors' naming?

[2022-11-03 17:16] kdy1 commented on #178
No, but I think we need to refactor them in the future

[2022-11-03 17:17] kdy1 commented on #182
Did you install rust?

[2022-11-03 17:19] kaf-lamed-beyt commented on #182
Oops! My bad!

I haven't. Lemme do that right away.

[2022-11-03 17:46] kaf-lamed-beyt commented on #182
I've installed Rust on my machine, and I'm still getting the same error when I type `./scripts/check.sh`

Do I need to install any particular extension on VSCode?

[2022-11-03 18:37] samiam376 commented on #174
Hi @kdy1, I'd love to take a shot at this!

[2022-11-03 19:04] mrkldshv commented on #178
From the debugging I see that we are getting this error
https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_file_analyzer/src/analyzer/expr/call_new.rs#L816 instead of https://github.com/dudykr/stc/blob/e59631e58fb04578142befb6e5dbc7ef1d52f9db/crates/stc_ts_file_analyzer/src/analyzer/expr/call_new.rs#L821
Is this behaviour correct? Did you mean to change the f

[2022-11-03 21:07] Beraliv commented on #181
Thanks to your comment @hyp3rflow (link 🔗 – https://github.com/dudykr/stc/issues/179#issuecomment-1302211895).

I've also decided to double check error list in TypeScript repo and it's exactly the same (conformance tests are also identical):

* TypeScript – [destructuringArrayBindingPatternAndAssignment3.errors.txt](https://github.com/microsoft/TypeScript/blob/main/tests/baselines/reference/destru

[2022-11-03 21:58] Beraliv commented on #181
Now I'm trying to understand how I can run one specific test and get the same output that you shared on the screenshot

### Working with output

I've checked the typical flow in [CONTRIBUTING.md](https://github.com/dudykr/stc/blob/main/CONTRIBUTING.md#typical-workflow), but it says:

Output is so huge, how can you work with it? Do you maybe write it to the file and read when `./scripts/check.sh` i

[2022-11-03 23:33] kdy1 commented on #181
You have two options.
`./scripts/test.sh yourTestName` will work, but if you want to reduce it further, you can copy it to tests directory of the file analyzer

https://github.com/dudykr/stc/tree/2ab93ad46cd2683539300bde8f30c7bf89ac1e15/crates/stc_ts_file_analyzer/tests

[2022-11-03 23:33] kdy1 commented on #174
Cool, thanks!

[2022-11-03 23:34] kdy1 commented on #178
This is incorrect, because `NoNewSignature` should be converted to another error.
It should be `NoConstructorPropertyWithName` I guess

[2022-11-03 23:35] kdy1 commented on #178
And `NoConstructorPropertyWithName` should have error code of `TS2348`

[2022-11-04 01:01] kdy1 opened #184 "Mark nested modules as valid LHS"
https://github.com/dudykr/stc/blob/2ab93ad46cd2683539300bde8f30c7bf89ac1e15/crates/stc_ts_type_checker/tests/conformance/expressions/valuesAndReferences/assignmentToParenthesizedIdentifiers.ts#L27-L29

The lines above should not report an error, but stc currently emits
<img width="1248" alt="image" src="https://user-images.githubusercontent.com/29931815/199862708-331bf3c7-e7b5-45f8-b457-442650f3e6

[2022-11-04 02:20] samiam376 commented on #174
@kdy1 could you help point me in the right direction? (I'm fairly new to this type of thing). From what I understand I should check if the type is an empty enum on line 688.

[2022-11-04 02:24] kdy1 commented on #174
@samiam376 You can use `expand_enum_variant` to convert an enum to a literal.

https://github.com/dudykr/stc/blob/2ab93ad46cd2683539300bde8f30c7bf89ac1e15/crates/stc_ts_file_analyzer/src/analyzer/enums.rs#L565-L604

[2022-11-04 02:24] nyarthan commented on #184
Hey @kdy1
I'd like to look at this!

[2022-11-04 02:25] kdy1 commented on #184
Cool, thank you!

[2022-11-04 05:52] kdy1 opened #185 "Rest pattern should not trigger `TupleIndexErrror`"
https://github.com/dudykr/stc/blob/2ab93ad46cd2683539300bde8f30c7bf89ac1e15/crates/stc_ts_type_checker/tests/conformance/es6/destructuring/declarationsAndAssignments.ts#L180

The line above should not error because LHS is a rest pattern.
<img width="732" alt="image" src="https://user-images.githubusercontent.com/29931815/199899870-5138cdb8-832b-4ca0-9f8a-605655413646.png">

But currently stc fails

[2022-11-04 05:57] kdy1 opened #186 "Rest patterns should get the correct type"
https://github.com/dudykr/stc/blob/2ab93ad46cd2683539300bde8f30c7bf89ac1e15/crates/stc_ts_type_checker/tests/conformance/es6/destructuring/declarationsAndAssignments.ts#L178

This line should not error, but stc fails to validate it because stc thinks the type of `a1` is `string[]` instead of `[string, boolean]`.

I think the problematic code is https://github.com/dudykr/stc/blob/2ab93ad46cd2683539

[2022-11-04 08:04] AlexMunoz commented on #185
Hi @kdy1, I'd love to work on this issue. Do you have any additional advice? Thanks.

[2022-11-04 08:49] kdy1 commented on #185
@AlexMunoz Basically, the problem is that we are returning errors from

[code]

using `?` token. Instead of returning an error, we should recover from the error, based on the variant.
`Error#actual()` gives you the actually error value without context, so you can match on it.

[2022-11-04 09:02] TrickyPi commented on #186
Hi @kdy1, i'd like to fix it 😊 .

[2022-11-04 10:15] kdy1 commented on #186
Thank you!

[2022-11-04 11:55] kdy1 commented on #182
@kaf-lamed-beyt Are you working on it?

[2022-11-04 12:27] kaf-lamed-beyt commented on #182
No, I'm stuck at where I need to push the changes

[2022-11-04 12:34] hyp3rflow commented on #179
Wow, now everyone got assigned their own good first issue. so, can I take this issue? @kdy1 😊

[2022-11-04 13:50] kdy1 opened #189 "Default value of an object pattern property should not change type if it's assignable"
https://github.com/dudykr/stc/blob/d121f20feb4f7a66e96a1b093dfadc507baf8610/crates/stc_ts_type_checker/tests/conformance/types/nonPrimitive/nonPrimitiveAndEmptyObject.ts#L6-L17

This should success.

<img width="920" alt="image" src="https://user-images.githubusercontent.com/29931815/199987891-d4c50f08-601a-4ace-9ac5-c6b8f81a19a7.png">

`access_property` of `((BarProps#1 & object) | {})` is expect

[2022-11-04 14:09] nissy-dev commented on #175
I look into codes and found type inference of arrow function with generics cause this issue.

Currently, type inference of arrow function with generics is wrong.

[code]

Then I read more codes, calculation for return type is in `get_return_type` of call_new.rs. I will try to fix some code of them.
`get_return_type` is very complex, so please let me know if you have any advice :pray:

[2022-11-04 14:14] kdy1 commented on #175
`get_return_type` calls `infer_arg_types` to infer types.

https://github.com/dudykr/stc/blob/d121f20feb4f7a66e96a1b093dfadc507baf8610/crates/stc_ts_file_analyzer/src/analyzer/generic/mod.rs#L77-L86

`infer_arg_types` has a logic to *prefer* the type annotation provided by the user, but I'm not sure why it's not working.

https://github.com/dudykr/stc/blob/d121f20feb4f7a66e96a1b093dfadc507baf8610/

[2022-11-04 14:22] kdy1 opened #190 "Type narrowing should handle object => class"
https://github.com/dudykr/stc/blob/d121f20feb4f7a66e96a1b093dfadc507baf8610/crates/stc_ts_type_checker/tests/conformance/types/nonPrimitive/nonPrimitiveNarrow.ts#L7-L10

The code above should succeed.

But the type checker infers the type of `a` in line 8 as `never` instead of `Narrow`.

<img width="920" alt="image" src="https://user-images.githubusercontent.com/29931815/199997449-2e404b91-17a7-4e

[2022-11-04 14:37] nissy-dev commented on #175
Thanks!  I seem undefined type is removed from return types after simplifying. I will dig into simplify method.

<img width="754" alt="SS_ 2022-11-04 23 34 03" src="https://user-images.githubusercontent.com/17228098/200001353-1bbe7a37-3981-4e2a-a978-a120aef9590c.png">

[2022-11-04 14:52] kdy1 commented on #175
Yeah I think you are right. I'm not sure why there's such logic. Maybe we need to remove the logic and check for regressions by invoking `check.sh`

[2022-11-04 15:12] kdy1 commented on #178
The problematic part is the conversion of `NoNewSignature` to `NoCallablePropertyWithName`.
I think it should be `NoConstructablePropertyWithName` instead

[2022-11-04 15:28] mrkldshv commented on #178
I see. Is that okay if the test won't pass after the changes though?

[2022-11-04 15:35] kdy1 commented on #178
Reducing matched_errors is  fine but increasing extra_errors or panic is not fine

[2022-11-04 16:54] kaf-lamed-beyt commented on #182
What do you think could be the issue?

I have trust installed on my PC. But, when I try pushing, those pre-commit hooks still gets fired.

[2022-11-04 17:43] samiam376 commented on #174
@kdy1 where should I be calling that function?

[2022-11-04 20:16] nyarthan commented on #184
@kdy1 I think I need some directions. I basically have to check if the exported vars of the nested module and the RHS match, is that correct?

[2022-11-04 23:04] #178 closed

[2022-11-04 23:08] kdy1 commented on #182
Not sure because I don't know anything about it

[2022-11-04 23:09] kdy1 commented on #174
@samiam376 https://github.com/dudykr/stc/blob/2c2c8224273ffbca0aba723b34fd560b6b4a3c45/crates/stc_ts_file_analyzer/src/analyzer/types/mod.rs#L666-L693

I already posted it on the issue

[2022-11-04 23:10] kdy1 commented on #184
No, problem is that the assignment validation logic unconditionally emits an error if the LHS is a module

[2022-11-04 23:11] kdy1 commented on #184
Please read the body of the issue. I linked the problematic code.

[2022-11-05 00:40] #175 closed

[2022-11-05 00:53] kdy1 opened #196 "Split easy correctness issues into github issues"
I'll do this, and I'll use this issue to track the list of extra errors.
To make development faster, by encouraging contribution, I'll investigate and list all simple issues into github issues.

---

`grep -re 'extra_error: [1-9][0-9]*' .`

# Checklist

[code]

[2022-11-05 03:23] kdy1 opened #198 "Template literal with `as const` should not be generalized as `string`"
# Problem

https://github.com/dudykr/stc/blob/18e24339e63c0de0e093fa0cc6683ebe4d3c860b/crates/stc_ts_type_checker/tests/conformance/types/literal/templateLiteralTypes3.ts#L20-L31

<img width="540" alt="image" src="https://user-images.githubusercontent.com/29931815/200098591-e5810052-47c5-4a4e-83f7-037d31863e3c.png">

`arg` should be `*${string}*` instead of `string.

---

# Solution

We have metad

[2022-11-05 03:30] kdy1 opened #199 "Assignment of `1.${number}.1` to `${number}.${number}.${number}` should success"
# Problem

https://github.com/dudykr/stc/blob/18e24339e63c0de0e093fa0cc6683ebe4d3c860b/crates/stc_ts_type_checker/tests/conformance/types/literal/templateLiteralTypes3.ts#L46-L56

This should success, but currently stc fails to validate it correctly.

# Solution

We should adjust logic in https://github.com/dudykr/stc/blob/18e24339e63c0de0e093fa0cc6683ebe4d3c860b/crates/stc_ts_file_analyzer/src/an

[2022-11-05 03:35] kdy1 opened #200 "Overlap validation of template literals is wrong"
# Problem

https://github.com/dudykr/stc/blob/18e24339e63c0de0e093fa0cc6683ebe4d3c860b/crates/stc_ts_type_checker/tests/conformance/types/literal/templateLiteralTypes3.ts#L132-L138

x (`foo-${string}`) and y (`${string}-bar`) have overlap, but stc fails to verify it.

# Solution

We should handle template literals specially in https://github.com/dudykr/stc/blob/18e24339e63c0de0e093fa0cc6683ebe4d3c

[2022-11-05 04:28] kdy1 opened #201 "Prevent generalization if the type annotation of a variable is template literal type"
# Problem

https://github.com/dudykr/stc/blob/d2628d0e537ca1df62829b1c2ef99d898aae1ffa/crates/stc_ts_type_checker/tests/conformance/types/literal/templateLiteralTypes2.ts#L4-L13

[code]

# Solution

https://github.com/dudykr/stc/blob/d2628d0e537ca1df62829b1c2ef99d898aae1ffa/crates/stc_ts_file_analyzer/src/analyzer/expr/mod.rs#L3784-L3800

1. We should accept type annotation, just like validator fo

[2022-11-05 04:53] iheyunfei commented on #190
🙋‍♂️ I'd like to fix this.

[2022-11-05 05:14] kdy1 commented on #190
Thank you!

[2022-11-05 07:18] ever0de commented on #182
I implemented it with #202 , can you please let me know if I need to solve it in a different way?

[2022-11-05 07:55] kdy1 opened #205 "Implement type inference for tuple and `Array` interface"
# Problem

https://github.com/dudykr/stc/blob/d2628d0e537ca1df62829b1c2ef99d898aae1ffa/crates/stc_ts_type_checker/tests/conformance/types/literal/numericStringLiteralTypes.ts#L24-L40

This should work, but it fails with an error

<img width="540" alt="image" src="https://user-images.githubusercontent.com/29931815/200109560-72d11999-0b81-4eca-aaac-4e56d538480c.png">

It's because the type inference

[2022-11-05 11:55] Redfire75369 opened #206 "Unconditonal Module Resolver Recursion"
This probably isn't much of a priority for now, but the module resolver can easily cause a stack overflow by resolving recursively.

When running stc on [this codebase](https://github.com/Redfire75369/stc-testing/tree/resolver-recursion), the stack overflows.
The codebase is modified from https://github.com/microsoft/TypeScript/tree/main/tests/projects/demo/animals.
(I am using a modified version

[2022-11-05 13:20] Windrushfarer commented on #198
Seems like a good start :) I'd like to take a look

[2022-11-05 13:53] kdy1 commented on #198
Thanks!

[2022-11-05 14:00] #190 closed

[2022-11-05 15:44] #205 closed

[2022-11-05 17:19] AlexMunoz commented on #185
Hey @kdy1 I think the PR https://github.com/dudykr/stc/pull/202  is also covering this case.

[2022-11-05 17:45] kdy1 commented on #185
Oh maybe. My bad, sorry

[2022-11-05 17:53] #182 closed

[2022-11-05 17:53] #185 closed

[2022-11-05 18:12] kdy1 opened #210 "Handle `intrinsics` for template literal types"
https://github.com/dudykr/stc/blob/269f6c07676f728e667ca5fb4c80d7f17f66a98d/crates/stc_ts_type_checker/tests/conformance/types/literal/stringMappingOverPatternLiterals.ts#L2-L4

https://github.com/dudykr/stc/blob/269f6c07676f728e667ca5fb4c80d7f17f66a98d/crates/stc_ts_file_analyzer/src/analyzer/types/mod.rs#L1551-L1610

We are handling `Type::Lit` (at line 1557), but we have to handle `Type:::Tpl`,

[2022-11-05 19:12] kdy1 opened #211 "Overload handling should handle constructor"
# Problem

https://github.com/dudykr/stc/blob/269f6c07676f728e667ca5fb4c80d7f17f66a98d/crates/stc_ts_type_checker/tests/conformance/types/objectTypeLiteral/constructSignatures/constructSignaturesWithOverloads2.ts#L15-L24

should pass, but stc fails to verify it.

Currently we only check overloads for methods, so overload selection for `new` fails

# Solution

We should handle constructor from `ext

[2022-11-05 19:46] kdy1 opened #213 "`extends` should handle `string` and a template literal type"
# Problem

This is a follow-up of https://github.com/dudykr/stc/pull/212

[code]

It should be `unknown` instead of being a conditional type

[code]
warning: Type
  --> $DIR/tests/visualize/types/literal/templateLiteralTypes2.ts:90:12
   |
90 | const t2 = takesLiteral(id2); // "baz"
   |            ^^^^^^^^^^^^^^^^^
   |
   = note: "foo.bar.baz" extends `foo.bar.${infer R}` ? {
           } : unkn

[2022-11-05 19:54] #201 closed

[2022-11-05 23:39] kdy1 opened #215 "Change span/error code of assignment failure due to wrong properties"
# Problem

https://github.com/dudykr/stc/blob/56ae129a0674e81af048e2281653363876ccb11d/crates/stc_ts_type_checker/tests/conformance/types/objectTypeLiteral/indexSignatures/stringIndexerConstrainsPropertyDeclarations2.ts#L35-L39

[code]

We report an error on line 36. To be exact, we are reporting an assignment failure (`TS2322`) on [`VarDeclarator`](https://rustdoc.swc.rs/swc_ecma_ast/struct.VarDe

[2022-11-05 23:44] kharvd commented on #189
Hi @kdy1, I'd like to give it a try!

[2022-11-05 23:45] kdy1 commented on #189
Thanks!

[2022-11-06 00:27] kdy1 opened #216 "Make tuple and custom array declared as interface compatible"
# Problem

https://github.com/dudykr/stc/blob/56ae129a0674e81af048e2281653363876ccb11d/crates/stc_ts_type_checker/tests/conformance/types/tuple/arityAndOrderCompatibility01.ts#L1-L5

This type is treated almost as a tuple by `tsc`, but `stc` fails to verify it.
It's because it extends `Array`.

<img width="562" alt="image" src="https://user-images.githubusercontent.com/29931815/200148353-da4f13a2-

[2022-11-06 00:45] kharvd commented on #189
Is the `object` part relevant here? Looks like tsc [infers](https://www.typescriptlang.org/play?#code/KYDwDg9gTgLgBASwHY2FAZgQwMbDgIUygAUoIwBnOAbwCg4G4AjI08gfgC44KYpkA5gG5aAX1q1QkWIhRosuOADEIENpRr1G6VeopcCrMpRHjaAE2DYANkTzYISXnB0RuKtcYoiHT+NRddLzgAXhpROAiw1xFaVz0AOhYSYxEgA) `BarProps` even when `fooProps` has type `BarProps`, without the `object` intersection.

I would guess we should infer `BarPr

[2022-11-06 00:55] yamgent commented on #211
Hi, I would like to take this!

[2022-11-06 00:57] kdy1 commented on #211
Thanks!

[2022-11-06 01:03] kdy1 commented on #189
I think you are right, nice catch! Thank you.

I tried [incompatible default value](https://www.typescriptlang.org/play?#code/KYDwDg9gTgLgBASwHY2FAZgQwMbDgIUygAUoIwBnOAbwCg4G4AjI08gfgC44KYpkA5gG5aAX1q1QkWIhRosuOADEIENpRr1G6VeopcCrMpRHjaAE2DYANkTzYISXnB0RuKtcYoiHT+NRddLzgAXhpMEIBGUTgYsNcRWlc9ADoWEmMRIA) and it matches with your observation

[2022-11-06 04:58] kdy1 opened #220 "Change error code for `undefined` in relative comparison"
# Problem

https://github.com/dudykr/stc/blob/36f243a4b4b3db1c2838365f695daa5138ac9a07/crates/stc_ts_type_checker/tests/conformance/types/typeRelationships/comparable/equalityStrictNulls.ts#L61-L68

[code]

These errors should be replaced with `TS18050` because the **expression** is the identifier reference to the global `undefined`.

# Solution

We may check for `undefined` in https://github.com/

[2022-11-06 06:27] #189 closed

[2022-11-06 06:56] kdy1 commented on #211
Updated the issue to reflect the real solution

[2022-11-06 07:46] kdy1 opened #223 "Report at max one argument type mismatch error for generic calls"
# Problem

https://github.com/dudykr/stc/blob/d8bb0e132d8ffdfa898c71165f7777d7bfb24eb3/crates/stc_ts_type_checker/tests/conformance/types/stringLiteral/typeArgumentsWithStringLiteralTypes01.ts#L87-L91

<img width="998" alt="image" src="https://user-images.githubusercontent.com/29931815/200159760-512e713b-3d7f-4968-b25f-bc199c683065.png">

Even when generics arguments are specified by the user, `ts

[2022-11-06 07:48] #179 closed

[2022-11-06 09:05] kdy1 commented on #211
Oh it's a union. `namespace` is rendered as `any` in type dump

[2022-11-06 09:59] yamgent commented on #211
Ok, so I tried the new real solution by doing something like this:

[code]

However, I don't see any change in the behaviour. In fact, I don't think it was the path taken by the code anyway. `ty` is `Type::Union`, so it goes to `get_best_return_type()` -> `extract_callee_candidates()`, which does add all 3 `CallCandidate`s of `C2`.

...am I missing something really obvious here?

![image](https://

[2022-11-06 12:49] TrickyPi commented on #186
Hi @kdy1

I created a minimal test for debugging
<img width="1189" alt="test" src="https://user-images.githubusercontent.com/33021497/200171433-8baf28f8-50c0-4c02-b459-d181a01a8423.png">
[the file link](https://github.com/TrickyPi/stc/blob/fix/issue-186/crates/stc_ts_file_analyzer/tests/pass/vars/destructuring/array/assignment/21.ts#L1-L5
)

and the error information is
<img width="996" alt="error

[2022-11-06 13:33] AcrylicShrimp commented on #213
I'm working on this.

[2022-11-06 13:39] kdy1 commented on #186
I guess that `get_rest_elements` is returning the wrong value.

And there's a TODO for it

https://github.com/dudykr/stc/blob/2ab93ad46cd2683539300bde8f30c7bf89ac1e15/crates/stc_ts_file_analyzer/src/analyzer/expr/array.rs#L543-L551

[2022-11-06 14:04] #206 closed

[2022-11-06 22:47] samiam376 commented on #174
@kdy1 this is what I've been trying to too. Could you tell me if I'm headed in the right direction?

`        let is_empty_enum = types.iter().any(|ty| match ty.normalize() {
            Type::Enum(ty_enum) => ty_enum.members.len() == 0,
            _ => false,
        });

        if u32::from(is_str) + u32::from(is_num) + u32::from(is_bool) + u32::from(is_empty_enum) >= 2 {
            return ne

[2022-11-07 02:25] kdy1 commented on #174
No, you should check for `Type::EnumVariant`, and based on the enum name, you should check if the enum is numeric (empty, no initializer, or numeric initializer)

[2022-11-07 02:33] #223 closed

[2022-11-07 07:13] kdy1 opened #230 "Modify function type on property assignment"
# Problem

https://github.com/dudykr/stc/blob/efd873e395fb9327f6cbd8be76a24678013269c4/crates/stc_ts_type_checker/tests/conformance/salsa/typeFromPropertyAssignment29.ts#L2-L9

Currently, stc does not support adding a property to type by assigning a property to function.
But the function type is special, and we should support it.

[2022-11-07 09:16] TrickyPi commented on #186
Thanks for your reply.
Yes, I knew this TODO exists, but I added a "println!" before calling `get_rest_elements` and it wasn't called.

[2022-11-07 09:19] kdy1 commented on #186
If so, I think you can add some debug prints to `scope/vars.rs` in the body of the issue

[2022-11-07 09:23] TrickyPi commented on #186
yeah, i added a debug print to ouput the value of `opts.use_iterator_for_array`, the result is true.

[2022-11-07 09:26] kdy1 commented on #186
I think you should print types instead. There's `dump_type_as_string` which can be used to print readable form of types

[2022-11-07 09:32] TrickyPi commented on #186
Ok, i get it.

[2022-11-07 09:46] #220 closed

[2022-11-07 11:03] kdy1 opened #233 "Fix property access to setter in super"
https://github.com/dudykr/stc/blob/2eadcd5ad1de5e045167ee532e51fc4295b02b7f/crates/stc_ts_type_checker/tests/conformance/async/es6/asyncMethodWithSuper_es6.ts#L192-L215

This should pass, but `stc` fails with

[code]

These errors occur because the type of `super.setter` is inferred as `void`.

# Solution (guess)

We should change the type of properties in super which has only the setter as `any`

[2022-11-07 11:31] b4s36t4 commented on #216
@kdy1 want to work on this. Just wanted to understand adding the check for array like extending to the match block should solve this right?!

[2022-11-07 11:39] kdy1 commented on #216
Thank you and yes I think you need to check the `length` property too. Without it it can't be treated as a tuple (Tuple with unknown length is Array, not Tuple)

[2022-11-07 13:14] harxki commented on #233
hi @kdy1!  I'd like to look at this.

[2022-11-07 14:34] ever0de commented on #210
[code]
added to the test,
https://github.com/dudykr/stc/blob/269f6c07676f728e667ca5fb4c80d7f17f66a98d/crates/stc_ts_file_analyzer/src/analyzer/types/mod.rs#L1551-L1610
### extend
[code]
Not caught in this code.

Maybe I got the test code wrong?

[2022-11-07 14:36] kdy1 opened #234 "Handle `this` in computed keys of nested scope"
We should handle `this` is nested scopes.

This is required to handle cases like

https://github.com/dudykr/stc/blob/2eadcd5ad1de5e045167ee532e51fc4295b02b7f/crates/stc_ts_type_checker/tests/conformance/es6/computedProperties/computedPropertyNames22_ES6.ts#L1-L9

Currently, we do not use the correct `this`.

https://github.com/dudykr/stc/blob/2eadcd5ad1de5e045167ee532e51fc4295b02b7f/crates/stc_ts_

[2022-11-07 14:39] kdy1 commented on #210
Can you add a `dbg!(&arg.params[0])` at the above of https://github.com/dudykr/stc/blob/269f6c07676f728e667ca5fb4c80d7f17f66a98d/crates/stc_ts_file_analyzer/src/analyzer/types/mod.rs#L1556 ?

Actually guessing data is a very hard task

[2022-11-07 14:42] kdy1 commented on #210
Ah, I found the cause. We are not calling `Analyzer.normalize()` for `arg.params[0]`

[2022-11-07 14:55] ever0de commented on #210
https://github.com/ever0de/stc/blob/704d111de1519a1c8eebbc4aceab1cde682bf893/crates/stc_ts_file_analyzer/src/analyzer/types/mod.rs#L1541-L1543

I tried this, but it doesn't work

1. It seems that map and typeof are not.
2. Do not normalize to interfaces.
3. Template literals, not generics.

So I set it to `Default::default`, um... yes... it doesn't work

[2022-11-07 14:59] kdy1 commented on #210
What do you mean by `fail` in

?

[2022-11-07 14:59] ever0de commented on #210
[code]

Sorry for the lack of explanation.
Panic for every case, tried to see the types one by one

But this code is also ignored and returned.

[2022-11-07 15:14] ever0de commented on #210
Oh no. I'm sorry.
New panic count in `conformance/types/literal/stringLiteralsAssignedToStringMappings.ts`.
Maybe I didn't see it because my VsCode update was slow...

I think I can find it now. i will solve it

[2022-11-07 23:31] Beraliv commented on #181
I'm still thinking whether it should be `[any, any?, any?, any?]` instead? As default parameters mean that the parameter is optional. Do you have a representation for that?

[2022-11-07 23:36] kdy1 commented on #181
There's a representation, but any? is any

It's exactly the same type

[2022-11-07 23:41] Beraliv commented on #181
Not exactly, the example is here – https://tsplay.dev/WvGJkw

1. `type A = [any, any, any, any];` – A has a fixed length, which equals to 4
2. `type B = [any, any?, any?, any?];` means tuple can be of length between 1 and 4

That's why assigning `[1] to type B will work, but won't work for type A

[2022-11-07 23:49] kdy1 commented on #181
Oh, then there's `Type::Optional`

[2022-11-08 05:20] kdy1 opened #236 "Use iterator for spread args"
https://github.com/dudykr/stc/blob/798c322abf94b8353feb4f4022185b932069f5e1/crates/stc_ts_type_checker/tests/conformance/es6/spread/iteratorSpreadInCall2.ts#L1-L16

should pass, but `stc` fails with

[code]

# Solution (guess)

We should use functions related to iterator, like `get_iterator_element_type` instead of

https://github.com/dudykr/stc/blob/798c322abf94b8353feb4f4022185b932069f5e1/crates

[2022-11-08 05:56] feniljain commented on #200
Hey :wave:,

I was just exploring the issue to understand what exactly is going on, I realized for this case, `has_overlap` is not called at all currently, I traced back the call chain and to reach `validate` function [here](https://github.com/dudykr/stc/blob/798c322abf94b8353feb4f4022185b932069f5e1/crates/stc_ts_file_analyzer/src/analyzer/expr/bin.rs#L44). It seemed logical for it to be called ca

[2022-11-08 06:02] kdy1 commented on #200
`is_valid_for_switch_case` is used for `NoOverlap`, and it calls `has_overlap` in almost all cases, so what you said cannot happen. Are you sure that the test failed or you used `--nocapture`?

[2022-11-08 06:33] feniljain commented on #200
I am surely not using `--nocapture`, though I did make some changes to test file, after shifting it to `stc_ts_file_analyzer/tests/pass`, I commented out complete file except the function mentioned above. And then left a `println` in `has_overlap`, but it didn't get printed :(

That's when I started looking into the call chain.

[2022-11-08 08:54] harxki commented on #233
First, I am trying to test only `asyncMethodWithSuper_es6.ts` to display the DebugContext described in the issue.
When I type the following command, all tests are running. Is there anything I am doing wrong?
` . /scripts/test.sh asyncMethodWithSuper_es6.ts`

[2022-11-08 08:56] kdy1 commented on #233
Not all tests are running. `test.sh` invokes tests of file analyzer before running the specified tests.

[2022-11-08 09:17] harxki commented on #233
Thanks for the reply.
`./scripts/test.sh staticIndexSignature` and `./scripts/test.sh asyncMethodWithSuper_es6.ts`, both seem to process the same number of test cases.

[code]

What command should I hit to get the same Debug Context as the issue?

[2022-11-08 09:28] kdy1 commented on #233
You shouldw wait for script instead of terminating it. You can look at the content of those scripts

[2022-11-08 09:50] harxki commented on #233
Yes. Wait for completion and the modal `Check failed!
To find the log written to the issue, I search for the string asyncMethodWithSuper_es6 in the output log, but get no hits.

Is this behavior normal?
Attached below is a partial log of the last output

[code]

[2022-11-08 09:51] kdy1 commented on #233
You should run `yarn`, as in the contributing document

[2022-11-08 09:59] harxki commented on #233
Yarn is already running, and node_modules exists under the stc directory.

[code]
Does the version of yarn matter? I'm using `1.22.19`

[2022-11-08 10:02] kdy1 commented on #233
Please ask google about it. I'm not an expert of `yarn`

https://github.com/dudykr/stc/blob/470c8e699bebe9f86bcc52fbb567c57fbfeaaaaf/crates/stc_ts_file_analyzer/tests/base.rs#L297-L305

This is how the test system invoke`tsc`

[2022-11-08 10:27] harxki commented on #233
The correct log can now be output. Thank you.

I will try to fix the problem now.

[2022-11-08 10:28] kdy1 commented on #233
Great, thanks!

[2022-11-09 04:09] olrtg opened #246 "Cannot get the project up and running"
Hi! I'm so noob at Rust (been doing frontend stuff for years but only javascript).. I have a lot of problems and I can't seem to get the project up and running.

When running `./scripts/try.sh` i get this error:

[code]

Now, it seems that the `try.sh` script needs a param, but i don't think that's the problem. I have the latest rust stable version installed and everything seems to work in a simpl

[2022-11-09 04:19] olrtg commented on #246
I use macOS with an Intel CPU. Rustup for the rust installation.

[2022-11-09 04:23] cmrigney commented on #236
Made an attempt [here](https://github.com/dudykr/stc/pull/247). Would appreciate any feedback!

[2022-11-09 08:00] yamgent commented on #246
The scripts are inside `crates/stc_ts_type_checker/scripts/`. You should be running the tests inside `crates/stc_ts_type_checker/`.

* https://github.com/dudykr/stc/blob/main/crates/stc_ts_type_checker/scripts/check.sh
* https://github.com/dudykr/stc/blob/main/crates/stc_ts_type_checker/scripts/test.sh

[2022-11-09 08:01] kdy1 commented on #246
It's not outdated

[2022-11-09 08:01] #246 closed

[2022-11-10 11:28] kdy1 opened #261 "Migrate `ModuleId` to `SyntaxContext`"
We can use per-module top-level syntax context to make all identifiers distinguishable

[2022-11-11 02:17] kdy1 commented on #176
@timeTravelCYN Are you working on it? Feel free to tell me if you want me to take it (or simply unassign)

[2022-11-11 02:18] kdy1 commented on #184
@nyarthan Are you working on it? Feel free to tell me if you want me to take it (or unassign)

[2022-11-11 02:18] kdy1 commented on #198
@Windrushfarer Are you working on it? Feel free to tell me if you want me to take it (or unassign)

[2022-11-11 02:43] kdy1 opened #264 "Remove normalization of error codes"
I added the error code normalization to focus on making type inference correct, but we should remove it in future for 100% parity

[2022-11-11 05:01] TrickyPi commented on #186
I'v been busy with other work lately, and this issue seems hard to me(LOL),so I'm happy you can take it and really appericate your help during this time.

[2022-11-11 07:52] Windrushfarer commented on #198
@kdy1 yes, I am still working. Sorry for the inconvenience, getting familiar with the codebase took a bit more time than I expected. I probably spotted the place to fix, will try it today or tomorrow maybe.

[2022-11-11 07:53] kdy1 commented on #198
No worries, it's not urgent at all. I just wanted to ensure that good first issues are not assigned to someone who isn't going to work on it.

[2022-11-11 15:43] nyarthan commented on #184
@kdy1 Yes I'm working on it, if I don't find a solution soon I will let you know, I don't want to halt the progress..

[2022-11-11 23:22] kdy1 commented on #184
@n

[2022-11-11 23:22] kdy1 commented on #184
No worries, it's not urgent at all. I just wanted to ensure that good first issues are not assigned to someone who isn't going to work on it.

[2022-11-12 00:41] kdy1 opened #277 "Use more powerful runners for publish action"
I configured CI in https://github.com/dudykr/stc/pull/274, but I found that it fails with OOM even without LTO.
So we should use a powerful runner.
Hopefully, some people donated so we can afford it.

[2022-11-12 07:15] ever0de commented on #210
I'm watching a little
https://github.com/dudykr/stc/blob/71d3307952b3fa6501d90358813856f3da8b0ccb/crates/stc_ts_file_analyzer/src/analyzer/assign/tpl.rs#L25-L71
The current problem seems to be that I have to deal with `Intrinsic' here, am I in the wrong direction?

[2022-11-12 07:17] kdy1 commented on #210
No, intrinsics should be handled from https://github.com/dudykr/stc/blob/269f6c07676f728e667ca5fb4c80d7f17f66a98d/crates/stc_ts_file_analyzer/src/analyzer/types/mod.rs#L1551-L1610

[2022-11-12 07:26] ever0de commented on #210
Does it have nothing to do with the error coming out of the current test?
I think the location of making `context: tried to assign to a template type` is `analyzer/assign/tpl.rs`...

[code]

[2022-11-12 07:30] kdy1 commented on #210
Yes because the error is about the type after applying `normalize_for_assign` => `normalize` => `expand_intrinsic_types`.

Once you fix `expand_intrinsic_types`, the function for assigning will receive a correct type.

[2022-11-12 12:42] #199 closed

[2022-11-12 12:42] #200 closed

[2022-11-13 07:36] ever0de commented on #210
In the current test case, `Type::Param` is the result of normalizing `arg.params[0]` in `expand_intrinsic_types`.
And this is what I think the original `arg.params[0]` is actually `Type::Param`.
[code]
Here the `Uppercase` Intrinsic is receiving an `ATemplate`, which is a `Type::Param` .

In this case, should I change `Type::Param` to `Type::Intrinsic` in the `normalize` function below?
https://gi

[2022-11-13 07:55] kdy1 commented on #210
I tried it, and seems like we have a bug in type alias expander or generic expander. The `nom_ty` should not be `S#0`, where #0 means built-in.
So I guess `S#0` comes from the builtin definition of intrinsic like `Uppercase`, and I'm investigating why it is not expanded

[2022-11-13 08:03] kdy1 commented on #210
<img width="974" alt="image" src="https://user-images.githubusercontent.com/29931815/201512051-3294f6c5-d396-4aea-9451-15a99daae04f.png">

Yeah, the expander was not replacing the type parameter `S#0` for some reason. I'll fix it first.

[2022-11-13 08:04] ever0de commented on #210
thanks to you...!

[2022-11-13 12:04] Redfire75369 opened #289 "Panic when Exporting Imported Interface"
When importing an interface, which was exported as the default and then exporting it, stc panics at the following block of code. It is likely related to all imports being treated as variables even if they are types (like interfaces). This works both with and without a default export.

<https://github.com/dudykr/stc/blob/b451a2921766755bf94199f38489addd1d692897/crates/stc_ts_module_loader/src/lib.r

[2022-11-13 12:19] Redfire75369 commented on #289
Regarding the "imports being treated as variables" part, I'll make an issue regarding that later.

[2022-11-14 08:31] #236 closed

[2022-11-15 12:25] devgony commented on #176
Do we have to implement `get_iterable_element_type` from scratch including all functions related with iterable like `get_next_value_type_of_iteratable`?

[2022-11-15 12:32] #210 closed

[2022-11-15 12:34] kdy1 commented on #176
Not sure, but I think we can reuse many parts of it.
Maybe we can extract some common logic to a function

[2022-11-15 13:02] kdy1 commented on #216
@b4s36t4 Are you working on it? If not, feel free to tell me. I'm asking because this is a good-first-issue

[2022-11-15 13:04] kdy1 commented on #181
@Beraliv Are you actively working on it? I'm asking this because it's a good-first-issue

[2022-11-15 13:38] Beraliv commented on #181
@kdy1, sorry for leaving no progress for 8 days. I struggled with the fix so wasn't sure how to proceed with it.

Is it possible you give me some hints?

I'm happy to continue with it, but if anyone already has a fix, I'm happy to let her/him do it instead of me

[2022-11-15 14:00] Beraliv commented on #181
Just to be trasnparent, that's what I have now – https://github.com/dudykr/stc/pull/298

[2022-11-15 14:08] yamgent commented on #211
@kdy1 I think this issue can be closed since it is fixed by #222?

[2022-11-15 14:12] kdy1 commented on #211
You are right, thanks!

[2022-11-15 14:12] #211 closed

[2022-11-15 23:19] kdy1 commented on #196
# Checlist

[code]

./tests/conformance/types/specifyingTypes/typeQueries/circularTypeofWithVarOrFunc.ts.stats.rust-debug:    extra_error: 2,
./tests/conformance/types/specifyingTypes/typeQueries/typeofThisWithImplicitThis.ts.stats.rust-debug:    extra_error: 1,
./tests/conformance/types/witness/witness.ts.stats.rust-debug:    extra_error: 7,
./tests/conformance/types/literal/templateLiteralTypes3

[2022-11-15 23:32] Beraliv commented on #181
I can confirm that for `crates/stc_ts_type_checker/tests/conformance/es6/destructuring/destructuringArrayBindingPatternAndAssignment3.ts` running `./scripts/test.sh destructuringArrayBindingPatternAndAssignment3` worked for me

Thank you again for the help!

[2022-11-16 02:34] guoyunhe opened #299 "Node.js API?"
It is possible to programmatically use stc in a Node.js script? Here is what I do with original typescript:

[code]

[2022-11-16 02:36] kdy1 commented on #299
Don't use issue for question

[2022-11-16 02:36] #299 closed

[2022-11-16 06:26] kdy1 commented on #181
Do you still need help?

[2022-11-16 08:32] kdy1 opened #302 "Pass type annotations to class expressions and class methods"
# Problem

We should not report `ImplicitAny` for https://github.com/dudykr/stc/blob/e503aa0dc7a553c054046cf64a6ff3d701a44f1b/crates/stc_ts_type_checker/tests/conformance/types/contextualTypes/methodDeclarations/contextuallyTypedClassExpressionMethodDeclaration01.ts#L16-L25

# Solution (guess)

We should pass type annotations to class expressions and use `access_property` to provide type annotatio

[2022-11-16 09:22] kdy1 opened #303 "Move span of `InvalidImplOfInterface`"
# Problem

https://github.com/dudykr/stc/blob/e503aa0dc7a553c054046cf64a6ff3d701a44f1b/crates/stc_ts_type_checker/tests/conformance/types/typeRelationships/subtypesAndSuperTypes/subtypingWithNumericIndexer5.ts#L11-L13

Currently, we report an error on property, but we should point the name of interface instead.

[code]

# Solution (guess)

I think simple re-spanning will work.

---

I'll expand th

[2022-11-16 11:41] #303 closed

[2022-11-17 00:04] Max-str commented on #302
I would like to help and try to fix this one.
Could you give some hints on where to start?

My guess would be in the `validate` function of mod.rs in the `RExpr::Class`-Arm of the match.

[2022-11-17 02:14] #196 closed

[2022-11-17 06:08] kdy1 commented on #302
Yes, your guess is correct. It's the first task.

After that, you should add a type annotation to class member validator at https://github.com/dudykr/stc/blob/e989a804ce806d776ea3148cfcb88e2d06d736e2/crates/stc_ts_file_analyzer/src/analyzer/class/mod.rs#L767

After you add a type annotation to the parameters, IDE will show you problematic code. You should add type annotation there, by using `Analy

[2022-11-17 11:08] Beraliv commented on #181
Let me come back to you in the evening, as I'm on the conference today.

I will explain what I try to do and where I need to be navigated

[2022-11-17 23:53] Beraliv commented on #181
I imagine any is implicit for function parameters so they're inferred as [any, any, any, any].

But as we have default parameters, I wonder if it would be possible to convert it to [any, any?, any?, any?].

If so, what is the best place to do it? Because for now I get `elems` already with the wrong type.

I know how to do it when it will be of a different type (match l as element of `elems` with O

[2022-11-18 01:56] kdy1 commented on #181
Not sure. You can search for `RPat::Assign` using IDE to look at possible cases.

I expect it to be one of

https://github.com/dudykr/stc/blob/d8b849c672f033c1e0a04caf9737f9a6ae7c6863/crates/stc_ts_file_analyzer/src/analyzer/pat.rs#L144

https://github.com/dudykr/stc/blob/d8b849c672f033c1e0a04caf9737f9a6ae7c6863/crates/stc_ts_file_analyzer/src/analyzer/pat.rs#L276-L285

https://github.com/dudykr/s

[2022-11-19 00:50] kdy1 opened #314 "Use ternary and the concept of relation"
`tsc` uses it, and `assign` should

 - Accept `report_errors` and report an error directly if required
 - Return ternary.

[2022-11-19 09:58] yamgent commented on #230
Hi, I would like to take a look at this issue, but I am not sure how to proceed with this. This is what I have thought of so far:

* I probably have to modify `access_property_inner()` in `crates/stc_ts_file_analyzer/src/analyzer/expr/mod.rs` when checking property access for `Type::Function`.
* I will need to modify the `Function` struct in `crates/stc_ts_types/src/lib.rs`, so that we have a plac

[2022-11-19 10:36] kdy1 commented on #230
I think the ideal way is to add a type literal (for intersection) on each assignment, not `access_property`

[2022-11-19 13:10] kdy1 commented on #230
Shared mutability is a hard topic in rust. Actually, we don't mutate types from multiple threads, so we don't need a mutex but `Type` has to be `Send`, and it's sometimes wrapped in `Arc` to reduce memory usage. So we should not modify it in-place

[2022-11-23 22:03] Beraliv commented on #181
I keep looking at it.

Was there any change to `main` branch? I pulled changes from there and I'm trying to rebuild it and I see errors:

[code]

Not sure if I'm doing something wrong

[2022-11-24 11:13] Beraliv commented on #181
Thank you for merging the PR @kdy1!

I will keep looking at assignments and maybe raise a separate PR later this week to cover wider scope

[2022-11-26 13:14] kdy1 commented on #184
@nyarthan Are you still working on it?

[2022-11-26 13:14] kdy1 commented on #198
@Windrushfarer Are you still working on it?

[2022-11-26 13:15] kdy1 commented on #233
@harxki Are you still working on it?

[2022-11-26 13:15] kdy1 commented on #302
@Max-str Are you still working on it?

[2022-11-26 13:17] kdy1 commented on #277
This was fixed by removing debug symbols from a release build

[2022-11-26 13:17] #277 closed

[2022-11-26 13:29] kdy1 commented on #261
This is done

[2022-11-26 13:29] #261 closed

[2022-11-26 14:44] kdy1 opened #331 "[TaskList] Remove false positives"
- [ ] ./crates/stc_ts_type_checker/tests/tsc-stats.rust-debug
- [ ] ./crates/stc_ts_type_checker/tests/wip-stats.rust-debug
- [ ] ./crates/stc_ts_type_checker/tests/conformance/fixSignatureCaching.ts.stats.rust-debug
- [ ] ./crates/stc_ts_type_checker/tests/conformance/types/specifyingTypes/typeQueries/circularTypeofWithVarOrFunc.ts.stats.rust-debug
- [ ] ./crates/stc_ts_type_checker/tests/conform

[2022-11-26 16:55] Max-str commented on #302
Yes I’m still on it

[2022-11-26 18:30] harxki commented on #233
@kdy1

I am sorry. I have not been able to start.
I don't know when I will be able to start, so please remove the assignment.

[2022-11-27 06:42] kdy1 opened #334 "Inline string literal types while validating a template literal"
https://github.com/dudykr/stc/blob/083bb476624a6d5a7354ccdc774b30e107f75df0/crates/stc_ts_type_checker/tests/conformance/types/stringLiteral/stringLiteralTypesWithTemplateStrings02.ts#L5

This should success

[2022-11-27 06:47] kdy1 opened #335 "Handle assignment of a type parameter extending an intrinsic type"
https://github.com/dudykr/stc/blob/083bb476624a6d5a7354ccdc774b30e107f75df0/crates/stc_ts_type_checker/tests/conformance/types/typeAliases/intrinsicTypes.ts#L49-L51

The assignment above should success

[2022-11-27 09:12] kdy1 opened #337 "Use `NoSuchProperty` for `globalThis.name`"
https://github.com/dudykr/stc/blob/41b76af273b27a172b6f8e50d7ea36f1bf0eda46/crates/stc_ts_type_checker/tests/conformance/es6/arrowFunction/emitArrowFunctionThisCapturingES6.ts#L2-L8

Should fail with `globalThis has no property named 'name'` but currently it fails with an assignment failure.

[code]

[2022-11-27 09:16] kdy1 commented on #213
@AcrylicShrimp Are you still working on this?

[2022-11-27 11:24] kdy1 opened #339 "Fix evaluation order"
- [ ] #360
 - [ ] #361
 - [ ] #362
 - [ ] #363

[2022-11-27 11:29] kdy1 opened #340 "Handle declaration merging"
https://github.com/dudykr/stc/blob/08b4941e01e39aee21d0544061e16e60a8ce02f8/crates/stc_ts_type_checker/tests/conformance/internalModules/moduleDeclarations/nestedModules.ts#L1-L12

This is currently not supported by stc, but it's required for 100% parity.

[2022-11-27 13:02] kdy1 opened #342 "Skip non-last rest patterns"
https://github.com/dudykr/stc/blob/08b4941e01e39aee21d0544061e16e60a8ce02f8/crates/stc_ts_type_checker/tests/conformance/types/rest/objectRestPropertyMustBeLast.ts#L1-L5

This should fail with errors for non-last rest patterns, but currently, it fails with

[code]

[2022-11-27 13:07] AcrylicShrimp commented on #213
@kdy1 Yes I am!

[2022-11-28 09:24] #334 closed

[2022-11-28 10:28] #342 closed

[2022-11-28 18:04] iheyunfei commented on #337
I've been digging for a while, I found the problem is that
https://github.com/dudykr/stc/blob/9c3d3a3fbc69966e779a85dd3dfdf5c765efa9ec/crates/stc_ts_file_analyzer/src/analyzer/expr/mod.rs#L1233
when you call `get_global_var` with `sym: 'name'`, you will get actually get a result rather than __not existed__.

https://github.com/dudykr/stc/blob/9c3d3a3fbc69966e779a85dd3dfdf5c765efa9ec/crates/stc_ts_

[2022-11-29 03:58] kdy1 commented on #337
Yes, `globalThis.name` is a special value.
We should pinpoint it from `access_property_inner`

[2022-11-29 07:29] #337 closed

[2022-11-29 14:25] kdy1 opened #351 "Handle static index signatures of a class"
https://github.com/dudykr/stc/blob/dfa3b9f9916f7411890cf04b26496a60c4ab0eb4/crates/stc_ts_type_checker/tests/conformance/classes/staticIndexSignature/staticIndexSignature1.ts#L1-L11

Should success